/* Defaults */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    -webkit-appearance: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bs-dark-bg-subtle);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bs-tertiary-color);
    border-radius: 5px !important;
    border: 3px solid var(--bs-dark-bg-subtle);
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #737373;
    }


/* Layout */

.ra-flex-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.ra-flex-container-scrollable-wrapper {
    flex-grow: 1;
    overflow: auto;
    min-height: 0;
}

.ra-flex-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;
    height: 100%;
}

.ra-flex-columns-scrollable-wrapper {
    flex-grow: 1;
    overflow-x: auto;
    min-height: 0;
    min-width: 0;
}

.ra-flex-columns {
    display: flex;
    flex: 1;
    flex-direction: row;
    min-width: 0;
    min-height: 0;
    /*width: 100%;
    height: 100%;*/
    gap: 30px;
}

.ra-flex-nostretch {
    align-self: flex-start;
}

.ra-scrollable-x {
    overflow-x: auto;
}

.ra-scrollable-y {
    overflow-y: auto;
}

.ra-clickable {
    cursor: pointer;
}

.ra-text-small {
    font-size: 0.7rem;
}

div.ra-headingbar {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-bottom: 10px;
}

div.ra-headingbar h3 {
    display: inline-block;
    margin-top: 5px;
}

div.ra-toolbar {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-bottom: 20px;
}

div.ra-buttonbar {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

    div.ra-buttonbar button {
        height: 28px;
    }

div.ra-navbar {
    display: flex;
    flex-direction: row;
}

a.ra-navbar-item {
    background-color: red;
}

    a.ra-navbar-item:active {
        background-color: blue;
    }

div.ra-navbar-item-image img {
    width: 32px;
    height: 32px;
}

div.ra-navbar-item-text {
    
}

div.ra-tableview-badgecell {
    text-wrap: nowrap;
}

div.ra-tableview-badgecell > div.badge {
    margin-top: 0px;
    margin-bottom: 3px;
}

    div.ra-tableview-badgecell > div.badge:not(:first-child) {
        margin-left: 8px;
    }

/* Override Blazored Modal defaults and set additional values. This 
   must be done here and cannot be done in CSS isolation.
*/
div.blazored-modal {
    background-color: var(--bs-body-bg) !important;
    border: 1px solid var(--bs-border-color) !important;
}

h3.bm-title {
}