table.ra-tableview {
    border-collapse: separate;
    border-spacing: 0;
}

    table.ra-tableview tbody tr:nth-child(odd) {
        background-color: var(--bs-secondary-bg);
    }

    table.ra-tableview thead tr th {
        position: sticky;
        top: 0;
        user-select: none;
        background-color: var(--bs-dark-bg-subtle);
        padding: 3px 13px 3px 3px;
        border-bottom: 1px solid var(--bs-border-color);
    }

    table.ra-tableview tbody tr td {
        padding: 3px 13px 3px 3px;
        border-bottom: 1px solid var(--bs-border-color);
    }
